/* COLORES */
$color-principal: rgb(177, 177, 177) ;
$color-secundario: rgba(198, 0, 0, 0.785);

/* LETRAS */

$font-principal : 'Oswald', sans-serif; 
$font-titulos: 'Roboto', sans-serif; 

/* TAMAÑOS */
$total-alto: 100vh;
$tamaño-icono: 70px;

/* TAMAÑO LETRA */
$contenidos: 1rem;
$titulos: $contenidos * 2;

/* REM - EM -= 1 REM -= 16px  RESPONSIVE*/